<h3>Hello, <%= user.first_name + ' ' + user.last_name %></h3>
<br>
<p>To complete registration, you need to confirm your email.
  To do this, follow the link: <%= link_to 'Activate your account', '#' %> <!-- тут будет url -->
</p>
